@import url("./reset");
body {
  box-sizing: border-box;
  width: 100%;
}

#container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  text-align: center;
}
.box {
  width: 55px;
  background-color: #f3f3f3;
  height: 55px;
  padding: 5px;
  margin: 5px;
  display: inline-block;
}
